*{
    box-sizing: border-box;
    font-family: 'Verdana', 'Georgia', 'Serif';
    color: #f3d9b1;
}

body{
    background-color: #03071e;
}

.contenedor{
    margin-bottom: 5em;
}

.titulo{
    text-align: center;
    color: #ffba08;
    margin: 50px;
    font-size: 70px;
}

.links li{
    color: #9d0208;
}

.links a{
    color: #faa307;
}

.recipe-img{
    height: 26em;
    display: block;
    margin: 35px auto;
    border-radius: 30px;
}

.description{
    color: #faa307;
    text-align: center;
}


.ingredients, .steps{
    color: #e85d04;
}

li{
    margin: 5px;
}

.sub-ingredient{
    color: #ffba08;
}

.gif{
    display: block;
    border-radius: 20px;
    margin: 22px auto;
    max-height: 470px;
    max-width: 850px;
}

/*850*470*/